<%- include ('../partials/admi/header') -%>
<div class="body-wrapper">
  <!--  Header Start -->
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
        <%- include ('../partials/admi/NavFacturacion') %>
        <ul
          class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link nav-icon-hover"
              href="javascript:void(0)"
              id="drop2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="assets/images/profile/tenant-1.jpg"
                alt=""
                width="35"
                height="35"
                class="rounded-circle"
              />
            </a>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
              aria-labelledby="drop2"
            >
              <div class="message-body">
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-tenant fs-6"></i>
                  <p class="mb-0 fs-3">My Profile</p>
                </a>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-mail fs-6"></i>
                  <p class="mb-0 fs-3">My Account</p>
                </a>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-list-check fs-6"></i>
                  <p class="mb-0 fs-3">My Task</p>
                </a>
                <a
                  href="/adlogout"
                  class="btn btn-outline-primary mx-3 mt-2 d-block"
                  >Logout</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--  Header End -->
  <div
    class="container-fluid"
    style="overflow: scroll; height: calc(115vh - 80px)"
  >
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Listado de facturas</h5>

          <table class="table table-bordered">
            <thead class="table-light">
              <tr>
                <th>
                  <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                </th>
                <th>
                  <h6 class="fw-semibold mb-0 fs-4">Factura</h6>
                </th>
                <th>
                  <h6 class="fw-semibold mb-0 fs-4">Fecha de inicio</h6>
                </th>
                <th>
                  <h6 class="fw-semibold mb-0 fs-4">Fecha de finalizacion</h6>
                </th>
                <th>
                  <h6 class="fw-semibold mb-0 fs-4">Estado</h6>
                </th>
                <th>
                  <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                </th>
              </tr>
            </thead>
            <tbody>
              <% fact.forEach((factura)=> { %>
              <tr>
                <td>
                  <h6><%= factura.Id %></h6>
                </td>
                <td>
                  <h6><%= factura.NumFactura %></h6>
                </td>
                <td>
                  <h6><%= factura.Fecha_inicio %></h6>
                </td>
                <td>
                  <h6 class="fw-semibold mb-0"><%= factura.Fecha_fin %></h6>
                </td>
                <td>
                  <h6 class="fw-semibold mb-0"><%= factura.Estado %></h6>
                </td>
                <td>
                  <div class="btn-group dropend" style="width: 8rem">
                    <button
                      class="btn btn-secondary ti ti-list-check"
                      type="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="true"
                      aria-expanded="false"
                    ></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          type="button"
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#ModalLect<%= factura.Id %>"
                          >Leer</a
                        >
                      </li>
                      <li>
                        <a
                          type="button"
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#Modal<%= factura.Id %>"
                          >Editar</a
                        >
                      </li>
                      <li>
                        <a
                          type="button"
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#ModalAd<%= factura.Id %>"
                          >Asignar por documentos</a
                        >
                      </li>
                      <li>
                        <a
                          type="button"
                          class="dropdown-item"
                          href="/delFact/<%= factura.Id %>"
                          >Eliminar</a
                        >
                      </li>
                      <li>
                        <a
                          type="button"
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#tablaModal"
                          >Asignar por documentos</a
                        >
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>

              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%- include ('../partials/admi/footer') -%>
</div>
