<%- include ('../partials/admi/header') %>
<% usuario.forEach((user)=> { 
  if (user.Rol == "Administrar") {%>
  <!--  Header Start -->
  <%- include ('../partials/admi/head') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavFacturacion') %>
  
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
  >
      <div class="container-fluid">
      <div class="card">
      <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Asignacion de documentos</h5>
          <div class="card">
          <div class="card-body">
  <div class="accordion accordion-flush" id="accordionExample">
      <!--Acordion por documentos-->
      <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Asignar por documentos
          </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <form action="/regDocFact" method="POST">
              <div class="d-flex align-items-center justify-content-center centre text-center" >
                <label for="Factura" class="form-label">Factura &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select
                  class="form-control" style="width: 35%;"
                  name="Factura"
                  id="Factura"
                  aria-describedby="text"
                  required
                >
                  <option selected>-- Seleccione una Factura --</option>
                  <% fact.forEach((fc)=> { %>
                  <option value="<%= fc.Id %>"><%= fc.NumFactura %></option>
                  <% }) %>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-secondary">Asignar</button>
              </div>
          <div class="accordion-body">
              <table class="table table-bordered table-responsive-xxl">
                  <thead class="text-dark fs-4">
                  <tr>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Nombre</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Abreviacion</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Organismo</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Version</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Acciones</h6>
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% docu.forEach((doc)=> { %>
                  <tr>
                      <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0"><%= doc.Id %></h6>
                      </td>
                      <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1">
                          <%= doc.Nombre %>
                      </h6>
                      </td>
                      <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Abreviacion %></p>
                      </td>
                      <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Autor %></p>
                      </td>
                      <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Version %></p>
                      </td>
                      <td>
                          <input type="checkbox" name="Documento" id="Documento" value="<%= doc.Id %>" class="form-label">     
                      </td>
                  </tr>
                  <% }) %>
                  </tbody>
              </table>
          </div>
      </form>
      </>
      </div>
      <!--Acordion por Organismo-->
      <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Asignar por organismo
          </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <form action="/regDocFactO" method="POST">
              <div class="d-flex align-items-center justify-content-center centre text-center" >
                <label for="Factura" class="form-label">Factura &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select
                  class="form-control" style="width: 35%;"
                  name="Factura"
                  id="Factura"
                  aria-describedby="text"
                  required
                >
                  <option selected>-- Seleccione una Factura --</option>
                  <% fact.forEach((fc)=> { %>
                  <option value="<%= fc.Id %>"><%= fc.NumFactura %></option>
                  <% }) %>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-secondary">Asignar</button>
              </div><br>
  
          <div class="accordion-body">
            <div class="card-body">
              <div class="row row-cols-1 row-cols-md-3 g-4">
              <% autor.forEach((aut)=> { %>
                <div class="col">
                    <div class="card card" style="width: 16rem; height: 6rem;">
                      <div class="card-body">
                      <h5 class="card-title"><input type="checkbox" name="Autor" id="Autor" value="<%= aut.Autor %>" class="form-label">  <%= aut.Autor %></h5>
                      </div>
                    </div>
                </div>
              <% }) %>
              </div>
            </div>
          </form>
      </div>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
      </div>
  </div>
    <% }else{ 
      if(user.Rol == "Editar" ){ %>
         <!--  Header Start -->
  <%- include ('../partials/admi/headED') %>
  <!--  Header End -->
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
  >
      <div class="container-fluid">
      <div class="card">
      <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Asignacion de documentos</h5>
          <div class="card">
          <div class="card-body">
  <div class="accordion accordion-flush" id="accordionExample">
      <!--Acordion por documentos-->
      <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Asignar por documentos
          </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <form action="/regDocFact" method="POST">
              <div class="d-flex align-items-center justify-content-center centre text-center" >
                <label for="Factura" class="form-label">Factura &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select
                  class="form-control" style="width: 35%;"
                  name="Factura"
                  id="Factura"
                  aria-describedby="text"
                  required
                >
                  <option selected>-- Seleccione una Factura --</option>
                  <% fact.forEach((fc)=> { %>
                  <option value="<%= fc.Id %>"><%= fc.NumFactura %></option>
                  <% }) %>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-secondary">Asignar</button>
              </div>
          <div class="accordion-body">
              <table class="table table-bordered table-responsive-xxl">
                  <thead class="text-dark fs-4">
                  <tr>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Nombre</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Abreviacion</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Organismo</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Version</h6>
                      </th>
                      <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Acciones</h6>
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                  <% docu.forEach((doc)=> { %>
                  <tr>
                      <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0"><%= doc.Id %></h6>
                      </td>
                      <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1">
                          <%= doc.Nombre %>
                      </h6>
                      </td>
                      <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Abreviacion %></p>
                      </td>
                      <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Autor %></p>
                      </td>
                      <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Version %></p>
                      </td>
                      <td>
                          <input type="checkbox" name="Documento" id="Documento" value="<%= doc.Id %>" class="form-label">     
                      </td>
                  </tr>
                  <% }) %>
                  </tbody>
              </table>
          </div>
      </form>
      </>
      </div>
      <!--Acordion por Organismo-->
      <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Asignar por organismo
          </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <form action="/regDocFactO" method="POST">
              <div class="d-flex align-items-center justify-content-center centre text-center" >
                <label for="Factura" class="form-label">Factura &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select
                  class="form-control" style="width: 35%;"
                  name="Factura"
                  id="Factura"
                  aria-describedby="text"
                  required
                >
                  <option selected>-- Seleccione una Factura --</option>
                  <% fact.forEach((fc)=> { %>
                  <option value="<%= fc.Id %>"><%= fc.NumFactura %></option>
                  <% }) %>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-secondary">Asignar</button>
              </div><br>
  
          <div class="accordion-body">
            <div class="card-body">
              <div class="row row-cols-1 row-cols-md-3 g-4">
              <% autor.forEach((aut)=> { %>
                <div class="col">
                    <div class="card card" style="width: 16rem; height: 6rem;">
                      <div class="card-body">
                      <h5 class="card-title"><input type="checkbox" name="Autor" id="Autor" value="<%= aut.Autor %>" class="form-label">  <%= aut.Autor %></h5>
                      </div>
                    </div>
                </div>
              <% }) %>
              </div>
            </div>
          </form>
      </div>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
      </div>
  </div>
           <!--  Header Start -->
  <%- include ('../partials/admi/headLE') %>
  <!--  Header End -->
  
  <div class="container-fluid" style="overflow:scroll;height: calc(115vh - 80px);">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4"></h5>
          <div class="card">
            <div class="card-body">
              <h1> No tiene los permisos requeridos</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% }}}) %>
  <%- include ('../partials/admi/footer') -%>