<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
      content-type="text/javascript"
    />
    <title>Modernize Free</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/images/logos/faviconlog.png"
    />
    <link rel="stylesheet" href="assets/css/styles.min.css" />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
          <div
            class="brand-logo d-flex align-items-center justify-content-between"
          >
            <a href="/ia" class="text-nowrap logo-img">
              <img src="assets/images/logos/dark-logo.png" width="180" alt="" />
            </a>
            <div
              class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
              id="sidebarCollapse"
            >
              <i class="ti ti-x fs-8"></i>
            </div>
          </div>
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">Home</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/ia" aria-expanded="false">
                  <span>
                    <i class="ti ti-layout-dashboard"></i>
                  </span>
                  <span class="hide-menu">Dashboard</span>
                </a>
              </li>
              <li class="nav-small-cap">
                <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                <span class="hide-menu">UI COMPONENTS</span>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/lUser" aria-expanded="false">
                  <span>
                    <i class="ti ti-user-plus"></i>
                  </span>
                  <span class="hide-menu">Usuarios</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/lDoc" aria-expanded="false">
                  <span>
                    <i class="ti ti-file-description"></i>
                  </span>
                  <span class="hide-menu">Documentos</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/cli" aria-expanded="false">
                  <span>
                    <i class="ti ti-alert-circle"></i>
                  </span>
                  <span class="hide-menu">Planes Clientes</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="2" aria-expanded="false">
                  <span>
                    <i class="ti ti-cards">..</i>
                  </span>
                  <span class="hide-menu">.</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="9" aria-expanded="false">
                  <span>
                    <i class="ti ti-typography"></i>
                  </span>
                  <span class="hide-menu">.</span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!--  Sidebar End -->
    </div>
<div class="body-wrapper">
  <!--  Header Start -->
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
        <div class="card-body p-2" style="margin-left: 30%">
  <a href="/lUser" type="button" class="btn btn-outline-danger m-1"
    >Listar Usuarios</a
  >
  <a href="/regUsOrg" type="button" class="btn btn-outline-danger m-1"
    >Agregar usuarios</a
  >
</div>
        <ul
          class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link nav-icon-hover"
              href="javascript:void(0)"
              id="drop2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="assets/images/profile/user-1.jpg"
                alt=""
                width="35"
                height="35"
                class="rounded-circle"
              />
            </a>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
              aria-labelledby="drop2"
            >
              <div class="message-body">
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-user fs-6"></i>
                  <p class="mb-0 fs-3">My Profile</p>
                </a>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-mail fs-6"></i>
                  <p class="mb-0 fs-3">My Account</p>
                </a>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-list-check fs-6"></i>
                  <p class="mb-0 fs-3">My Task</p>
                </a>
                <a
                  href="/logout"
                  class="btn btn-outline-primary mx-3 mt-2 d-block"
                  >Logout</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--  Header End -->
  <div
    class="container-fluid"
    style="overflow: scroll; height: calc(115vh - 80px)"
  >
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Modificar usuario</h5>
          <div class="card">
            <div class="card-body">
             
              <form action="/api/Us" method="POST">
                <% if (user) { %>
                  <div class="mb-3">
                <input id="Id" name="Id" value="<%= user.Id %>" type="hidden" />
              </div>
                <div class="mb-3">
                  <label for="Nombre" class="form-label">Nombres</label>
                  <input
                    value="<%= user.Nombre %>"
                    placeholder="Daniel Jose"
                    type="text"
                    class="form-control"
                    name="Nombre"
                    id="Nombre"
                    aria-describedby="textHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Apellido" class="form-label">Apellidos</label>
                  <input
                    value="<%= user.Apellido %>"
                    placeholder="Jimenez Cuadro"
                    type="text"
                    class="form-control"
                    name="Apellido"
                    id="Apellido"
                    aria-describedby="textHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Email" class="form-label">Correo</label>
                  <input
                    value="<%= user.Email %>"
                    placeholder="prueba@ejemplo.com"
                    type="email"
                    class="form-control"
                    name="Email"
                    id="Email"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Rol" class="form-label">Rol</label>
                  <select
                    class="form-control"
                    name="Rol"
                    id="Rol"
                    aria-describedby="text"
                    required
                  >
                    <option  value="Administrar" <%= user.Rol=='Administrar' ? "selected" : '' %> >Administrar</option>
                    <option  value="Editar" <%= user.Rol=='Editar' ? "selected" : '' %> >Editar</option>
                    <option  value="Leer" <%= user.Rol=='Leer' ? "selected" : '' %> >Leer</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="Estado" class="form-label">Estado</label>
                  <select
                    class="form-control"
                    name="Estado"
                    id="Estado"
                    aria-describedby="text"
                    required
                  >
                    <option  value="Activo" <%= user.Estado=='Activo' ? "selected" : '' %> >Activo</option>
                    <option  value="Bloqueado" <%= user.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                  </select>
                </div>
                <div class="mb-4">
                  <input
                    value="<%= user.password %>"
                    placeholder="Debe contener letras en mayuscula, numeros y caracteres especiales"
                    class="form-control"
                    name="password"
                    id="password"
                    type="hidden"
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                >
                  Editar
                </button>
                <% } %>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script async src="assets/libs/jquery/dist/jquery.min.js"  defer></script>
<script async src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"  defer></script>
<script async src="assets/js/sidebarmenu.js"  defer></script>
<script async src="assets/js/app.min.js"  defer></script>
<script async src="assets/libs/apexcharts/dist/apexcharts.min.js"  defer></script>
<script async src="assets/libs/simplebar/dist/simplebar.js"  defer></script>
<script async src="assets/js/dashboard.js"  defer></script>
<script async src="js/scripts.js"  defer></script>
<script async src="assets/js/app.min.js"  defer></script>
<script async src="assets/js/doc.js"  defer></script>


</body>

</html>