<%- include ('../partials/admi/header') %>

<% usuario.forEach((user)=> { 
  if (user.Rol == "Administrar") {%>
  <!--  Header Start -->
  <%- include ('../partials/admi/head') %>
  <!--  Header End -->
  
      <h1><%= user.Nombre %></h1>
    <h1><%= user.Rol %></h1>

    <% }else{ 
      if(user.Rol == "Editar" ){ %>

         <!--  Header Start -->
  <%- include ('../partials/admi/headED') %>
  <!--  Header End -->
  
      <h1><%= user.Nombre %></h1>
      <h1><%= user.Rol %></h1>

     <% }else { %>

           <!--  Header Start -->
  <%- include ('../partials/admi/headLE') %>
  <!--  Header End -->
  
      <h1><%= user.Nombre %></h1>
      <h1><%= user.Rol %></h1>

    <% }}}) %>

    <%-include('../partials/admi/footer') %> 
