<%- include ('../partials/admi/header') %>
<div class="body-wrapper">
  <!--  Header Start -->
  <header class="app-header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
        <%- include ('../partials/admi/NavDocumentos') %>
        <ul
          class="navbar-nav flex-row ms-auto align-items-center justify-content-end"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link nav-icon-hover"
              href="javascript:void(0)"
              id="drop2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="assets/images/profile/user-1.jpg"
                alt=""
                width="35"
                height="35"
                class="rounded-circle"
              />
            </a>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
              aria-labelledby="drop2"
            >
              <div class="message-body">
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-user fs-6"></i>
                  <p class="mb-0 fs-3">My Profile</p>
                </a>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-mail fs-6"></i>
                  <p class="mb-0 fs-3">My Account</p>
                </a>
                <a
                  href="javascript:void(0)"
                  class="d-flex align-items-center gap-2 dropdown-item"
                >
                  <i class="ti ti-list-check fs-6"></i>
                  <p class="mb-0 fs-3">My Task</p>
                </a>
                <a
                  href="/adlogout"
                  class="btn btn-outline-primary mx-3 mt-2 d-block"
                  >Logout</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--  Header End -->
  <div
    class="container-fluid"
    style="overflow: scroll; height: calc(115vh - 80px)"
  >
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Listado de documentos</h5>
          <div class="card">
            <div class="card-body">
              <table class="table table-bordered table-responsive-xxl">
                <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Nombre</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Abreviacion</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Autor</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Estado</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Acciones</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach((doc)=> { %>
                  <tr>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0"><%= doc.Id %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1">
                        <%= doc.Nombre %>
                      </h6>
                    </td>
                    <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Abreviacion %></p>
                    </td>
                    <td class="border-bottom-0">
                      <p class="mb-0 fw-normal"><%= doc.Autor %></p>
                    </td>
                    <td class="border-bottom-0">
                      <div class="d-flex align-items-center gap-2">
                        <% if(doc.Estado == "Activo"){ %>
                        <span class="badge bg-success rounded-3 fw-semibold"
                          ><%= doc.Estado %></span
                        >
                    <% }else { %>
                        <span class="badge bg-danger rounded-3 fw-semibold"
                        ><%= doc.Estado %></span
                    <% } %>
                      </div>
                    </td>
                    <td>
                        <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= doc.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= doc.Id %>">Editar</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalRem<%= doc.Id %>">Remplazar archivo</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalImg<%= doc.Id %>">Cargar imagen</a></li>
                          </ul>
                        </div>       
                    </td>
                    <!-- Modal de lectura -->
                    <div class="modal fade" id="ModalLect<%= doc.Id %>" data-bs-backdrop="static" >
                      <div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><%= doc.Nombre %></h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            <object
                              type="application/pdf"
                              data="/<%= doc.LinkDoc %>"
                              width="100%"
                              height="100%"
                            >
                            </object>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal de edicion -->
                    <div class="modal fade" id="Modal<%= doc.Id %>" data-bs-backdrop="static">
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Editar registro</h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            <form action="/update" method="POST">
                              <input id="Id" name="Id" value="<%= doc.Id %>" type="hidden" />
                              <div class="mb-3">
                                  <label for="Nombre" class="form-label">Nombre del documento</label>
                                  <input type="text" class="form-control" name="Nombre" id="Nombre" value="<%= doc.Nombre %>">
                              </div>
                              <div class="mb-3">
                                  <label for="Abreviacion" class="form-label">Abreviacion del documento</label>
                                  <input type="text" class="form-control" name="Abreviacion" id="Abreviacion" value="<%= doc.Abreviacion %>">
                              </div>
                              <div class="mb-3">
                                  <label for="Version" class="form-label">Version del documento</label>
                                  <input type="text" class="form-control" name="Version" id="Version" value="<%= doc.Version %>">
                              </div>
                              <div class="mb-3">
                                  <label for="Descripcion" class="form-label">Descripcion en español</label>
                                  <textarea class="form-control" name="Descripcion" id="Descripcion"><%= doc.Descripcion %></textarea>
                              </div>
                              <div class="mb-3">
                                  <label for="Descripcion_ing" class="form-label">Descripcion en ingles</label>
                                  <textarea class="form-control" name="Descripcion_ing" id="Descripcion_ing"><%= doc.Descripcion_ing %></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="Estado" class="form-label">Estado del documento</label>
                                <select
                                  class="form-control"
                                  name="Estado"
                                  id="Estado"
                                  aria-describedby="text"
                                  required
                                >
                                <option  value="Activo" <%= doc.Estado='Activo' ? "selected" : '' %> >Activo</option>
                                <option  value="Bloqueado" <%= doc.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                  <label for="Autor" class="form-label">Autor</label>
                                  <input type="text" class="form-control" name="Autor"
                                      id="Autor" value="<%= doc.Autor %>">
                              </div>
                              <div class="mb-3">
                                  <label for="Pago" class="form-label">Documento pago?</label>
                                  <select
                                    class="form-control"
                                    name="Pago"
                                    id="Pago"
                                    aria-describedby="text"
                                    required
                                  >
                                  <option  value="SI" <%= doc.Pago='SI' ? "selected" : '' %> >Si</option>
                                  <option  value="NO" <%= doc.Pago=='NO' ? "selected" : '' %> >No</option>
                                  </select>
                                </div>

                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-secondary" type="submit">Guardar</button>
                          </form>
                            <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            
                          </div>
                        
                        </div>
                      </div>
                    </div>

                    <!-- Modal remplazar-->
                    <div class="modal fade" id="ModalRem<%= doc.Id %>" data-bs-backdrop="static" >
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><%= doc.Nombre %></h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            <form action="/uploadD" method="POST" enctype="multipart/form-data">
                              <input id="Id" name="Id" value="<%= doc.Id %>" type="hidden" />
                              <input type="file" name="pdfFile" id="pdfFile"
                                  class="btn btn-outline-danger m-1" required>                         
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Cargar documento</button>
                          </form>
                            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Cargar imagen del documento-->
                    <div class="modal fade" id="#ModalImg<%= doc.Id %>" data-bs-backdrop="static" >
                      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title"><%= doc.Nombre %></h5>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                          </div>
                          <div class="modal-body">
                            <form action="/uploadI" method="POST" enctype="multipart/form-data">
                              <input id="Id" name="Id" value="<%= doc.Id %>" type="hidden" />
                              <input type="file" name="pdfFile" id="pdfFile"
                                  class="btn btn-outline-danger m-1" required>                         
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-secondary">Cargar documento</button>
                          </form>
                            <button class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include ('../partials/admi/footer') %>
