<%- include ('../partials/admi/header') %>

<% usuario.forEach((user)=> { 
  if (user.Rol == "Administrar") {%>
  <!--  Header Start -->
  <%- include ('../partials/admi/head') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavAutores') %>
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">
          Listado de autores
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Autor</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Estado</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((aut)=> { %>
                <tr>
                  <td>
                    <h6><%= aut.Id %></h6>
                  </td>
                  <td>
                    <h6><%= aut.Autor %></h6>
                  </td>
                  <td>
                    <h6><%= aut.Estado %></h6>
                  </td>
                  <td >
                      <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= aut.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= aut.Id %>">Editar</a></li>
                          </ul>
                        </div>
                  </td>
                  <!--Editar autor-->
                  <div class="modal fade" id="Modal<%= aut.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upAuth" method="POST">
                            <input id="Id" name="Id" value="<%= aut.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Autor" class="form-label">Autor</label>
                              <input
                                value="<%= aut.Autor %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Autor"
                                id="Autor"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion"><%= aut.Descripcion %></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="Estado" class="form-label">Estado</label>
                              <select
                                class="form-control"
                                name="Estado"
                                id="Estado"
                                aria-describedby="text"
                                required
                              >
                                <option  value="Activo" <%= aut.Estado=='Activo' ? "selected" : '' %> >Activo</option>
                                <option  value="Bloqueado" <%= aut.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                              </select>
                            </div>                
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="submit">Guardar</button>
                        </form>
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= aut.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver autor</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="Autor" class="form-label">Autor</label>
                              <input
                                value="<%= aut.Autor %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Autor"
                                id="Autor"
                                aria-describedby="textHelp"
                                required
                                disabled
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion" disabled><%= aut.Descripcion %></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="Estado" class="form-label">Estado</label>
                              <select
                                class="form-control"
                                name="Estado"
                                id="Estado"
                                aria-describedby="text"
                                required
                                disabled
                              >
                                <option  value="Activo" <%= aut.Estado=='Activo' ? "selected" : '' %> >Activo</option>
                                <option  value="Bloqueado" <%= aut.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                              </select>
                            </div>            
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    <% }else{ 
      if(user.Rol == "Editar" ){ %>

         <!--  Header Start -->
  <%- include ('../partials/admi/headED') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavAutores') %>

  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">
          Listado de autores
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Autor</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Estado</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((aut)=> { %>
                <tr>
                  <td>
                    <h6><%= aut.Id %></h6>
                  </td>
                  <td>
                    <h6><%= aut.Autor %></h6>
                  </td>
                  <td>
                    <h6><%= aut.Estado %></h6>
                  </td>
                  <td >
                      <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= aut.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= aut.Id %>">Editar</a></li>
                          </ul>
                        </div>
                  </td>
                  <!--Editar autor-->
                  <div class="modal fade" id="Modal<%= aut.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upAuth" method="POST">
                            <input id="Id" name="Id" value="<%= aut.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Autor" class="form-label">Autor</label>
                              <input
                                value="<%= aut.Autor %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Autor"
                                id="Autor"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion"><%= aut.Descripcion %></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="Estado" class="form-label">Estado</label>
                              <select
                                class="form-control"
                                name="Estado"
                                id="Estado"
                                aria-describedby="text"
                                required
                              >
                                <option  value="Activo" <%= aut.Estado=='Activo' ? "selected" : '' %> >Activo</option>
                                <option  value="Bloqueado" <%= aut.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                              </select>
                            </div>                
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="submit">Guardar</button>
                        </form>
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= aut.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver autor</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="Autor" class="form-label">Autor</label>
                              <input
                                value="<%= aut.Autor %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Autor"
                                id="Autor"
                                aria-describedby="textHelp"
                                required
                                disabled
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion" disabled><%= aut.Descripcion %></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="Estado" class="form-label">Estado</label>
                              <select
                                class="form-control"
                                name="Estado"
                                id="Estado"
                                aria-describedby="text"
                                required
                                disabled
                              >
                                <option  value="Activo" <%= aut.Estado=='Activo' ? "selected" : '' %> >Activo</option>
                                <option  value="Bloqueado" <%= aut.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                              </select>
                            </div>            
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
     <% }else { %>

           <!--  Header Start -->
  <%- include ('../partials/admi/headLE') %>
  <!--  Header End -->
  
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">
          Listado de autores
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Autor</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Estado</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((aut)=> { %>
                <tr>
                  <td>
                    <h6><%= aut.Id %></h6>
                  </td>
                  <td>
                    <h6><%= aut.Autor %></h6>
                  </td>
                  <td>
                    <h6><%= aut.Estado %></h6>
                  </td>
                  <td >
                          <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ModalLect<%= aut.Id %>">Leer</a>
                  </td>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= aut.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver autor</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                              <label for="Autor" class="form-label">Autor</label>
                              <input
                                value="<%= aut.Autor %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Autor"
                                id="Autor"
                                aria-describedby="textHelp"
                                required
                                disabled
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion" disabled><%= aut.Descripcion %></textarea>
                            </div>
                            <div class="mb-3">
                              <label for="Estado" class="form-label">Estado</label>
                              <select
                                class="form-control"
                                name="Estado"
                                id="Estado"
                                aria-describedby="text"
                                required
                                disabled
                              >
                                <option  value="Activo" <%= aut.Estado=='Activo' ? "selected" : '' %> >Activo</option>
                                <option  value="Bloqueado" <%= aut.Estado=='Bloqueado' ? "selected" : '' %> >Bloqueado</option>
                              </select>
                            </div>            
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    <% }}}) %>



<%- include ('../partials/admi/footer') -%>
