<%- include ('../partials/admi/header') %>

<% usuario.forEach((user)=> { 
  if (user.Rol == "Administrar") {%>
  <!--  Header Start -->
  <%- include ('../partials/admi/head') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavPais') %>
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card" >
      <div class="card-body" style="height: 100rem;">
        <h5 class="card-title fw-semibold mb-4">
          Listado de paises y regiones
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Pais</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Departamento</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Ciudad Provincia</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((paisRg)=> { %>
                <tr>
                  <td>
                    <h6><%= paisRg.Id %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.Pais %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.Departament %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.CiudadProvincia %></h6>
                  </td>
                  <td >
                      <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= paisRg.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= paisRg.Id %>">Editar</a></li>
                            <li><a type="button" class="dropdown-item" href="/dPais/<%= paisRg.Id %>">Eliminar</a></li>
                          </ul>
                        </div>
                  </td>
                  <!--Editar industria-->
                  <div class="modal fade" id="Modal<%= paisRg.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar Pais region</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upPa" method="POST">
                            <input id="Id" name="Id" value="<%= paisRg.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Pais" class="form-label">Pais</label>
                              <input
                                value="<%= paisRg.Pais %>"
                                type="text"
                                class="form-control"
                                name="Pais"
                                id="Pais"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="PaisEng" class="form-label">Pais en ingles</label>
                              <input
                                value="<%= paisRg.PaisEng %>"
                                type="text"
                                class="form-control"
                                name="PaisEng"
                                id="PaisEng"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Departament" class="form-label">Departamento</label>
                              <input
                                value="<%= paisRg.Departament %>"
                                type="text"
                                class="form-control"
                                name="Departament"
                                id="Departament"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="CiudadProvincia" class="form-label">Ciudad / Provincia</label>
                              <input
                                value="<%= paisRg.CiudadProvincia%>"
                                type="text"
                                class="form-control"
                                name="CiudadProvincia"
                                id="CiudadProvincia"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>                   
                            <div class="mb-3">
                              <label for="Longitud" class="form-label">Longitud</label>
                              <input
                                value="<%= paisRg.Longitud%>"
                                type="text"
                                class="form-control"
                                name="Longitud"
                                id="Longitud"
                                aria-describedby="textHelp"
                              />
                            </div>                   
                            <div class="mb-3">
                              <label for="Latitud" class="form-label">Latitud</label>
                              <input
                                value="<%= paisRg.Latitud%>"
                                type="text"
                                class="form-control"
                                name="Latitud"
                                id="Latitud"
                                aria-describedby="textHelp"
                              />
                            </div>                   
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="submit">Guardar</button>
                        </form>
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= paisRg.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver pais region</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="Pais" class="form-label">Pais</label>
                            <input
                              value="<%= paisRg.Pais %>"
                              type="text"
                              class="form-control"
                              name="Pais"
                              id="Pais"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="PaisEng" class="form-label">Pais en ingles</label>
                            <input
                              value="<%= paisRg.PaisEng %>"
                              type="text"
                              class="form-control"
                              name="PaisEng"
                              id="PaisEng"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="Departament" class="form-label">Departamento</label>
                            <input
                              value="<%= paisRg.Departament %>"
                              type="text"
                              class="form-control"
                              name="Departament"
                              id="Departament"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="CiudadProvincia" class="form-label">Ciudad / Provincia</label>
                            <input
                              value="<%= paisRg.CiudadProvincia%>"
                              type="text"
                              class="form-control"
                              name="CiudadProvincia"
                              id="CiudadProvincia"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>                   
                          <div class="mb-3">
                            <label for="Longitud" class="form-label">Longitud</label>
                            <input
                              value="<%= paisRg.Longitud%>"
                              type="text"
                              class="form-control"
                              name="Longitud"
                              id="Longitud"
                              aria-describedby="textHelp"
                              disabled
                            />
                          </div>                   
                          <div class="mb-3">
                            <label for="Latitud" class="form-label">Latitud</label>
                            <input
                              value="<%= paisRg.Latitud%>"
                              type="text"
                              class="form-control"
                              name="Latitud"
                              id="Latitud"
                              aria-describedby="textHelp"
                              disabled
                            />
                          </div>                   
                      </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    <% }else{ 
      if(user.Rol == "Editar" ){ %>

         <!--  Header Start -->
  <%- include ('../partials/admi/headED') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavPais') %>
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card" >
      <div class="card-body" style="height: 100rem;">
        <h5 class="card-title fw-semibold mb-4">
          Listado de paises y regiones
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Pais</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Departamento</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Ciudad Provincia</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((paisRg)=> { %>
                <tr>
                  <td>
                    <h6><%= paisRg.Id %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.Pais %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.Departament %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.CiudadProvincia %></h6>
                  </td>
                  <td >
                      <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= paisRg.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= paisRg.Id %>">Editar</a></li>
                            <li><a type="button" class="dropdown-item" href="/dPais/<%= paisRg.Id %>">Eliminar</a></li>
                          </ul>
                        </div>
                  </td>
                  <!--Editar industria-->
                  <div class="modal fade" id="Modal<%= paisRg.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar Pais region</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upPa" method="POST">
                            <input id="Id" name="Id" value="<%= paisRg.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Pais" class="form-label">Pais</label>
                              <input
                                value="<%= paisRg.Pais %>"
                                type="text"
                                class="form-control"
                                name="Pais"
                                id="Pais"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="PaisEng" class="form-label">Pais en ingles</label>
                              <input
                                value="<%= paisRg.PaisEng %>"
                                type="text"
                                class="form-control"
                                name="PaisEng"
                                id="PaisEng"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Departament" class="form-label">Departamento</label>
                              <input
                                value="<%= paisRg.Departament %>"
                                type="text"
                                class="form-control"
                                name="Departament"
                                id="Departament"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="CiudadProvincia" class="form-label">Ciudad / Provincia</label>
                              <input
                                value="<%= paisRg.CiudadProvincia%>"
                                type="text"
                                class="form-control"
                                name="CiudadProvincia"
                                id="CiudadProvincia"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>                   
                            <div class="mb-3">
                              <label for="Longitud" class="form-label">Longitud</label>
                              <input
                                value="<%= paisRg.Longitud%>"
                                type="text"
                                class="form-control"
                                name="Longitud"
                                id="Longitud"
                                aria-describedby="textHelp"
                              />
                            </div>                   
                            <div class="mb-3">
                              <label for="Latitud" class="form-label">Latitud</label>
                              <input
                                value="<%= paisRg.Latitud%>"
                                type="text"
                                class="form-control"
                                name="Latitud"
                                id="Latitud"
                                aria-describedby="textHelp"
                              />
                            </div>                   
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="submit">Guardar</button>
                        </form>
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= paisRg.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver pais region</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="Pais" class="form-label">Pais</label>
                            <input
                              value="<%= paisRg.Pais %>"
                              type="text"
                              class="form-control"
                              name="Pais"
                              id="Pais"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="PaisEng" class="form-label">Pais en ingles</label>
                            <input
                              value="<%= paisRg.PaisEng %>"
                              type="text"
                              class="form-control"
                              name="PaisEng"
                              id="PaisEng"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="Departament" class="form-label">Departamento</label>
                            <input
                              value="<%= paisRg.Departament %>"
                              type="text"
                              class="form-control"
                              name="Departament"
                              id="Departament"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="CiudadProvincia" class="form-label">Ciudad / Provincia</label>
                            <input
                              value="<%= paisRg.CiudadProvincia%>"
                              type="text"
                              class="form-control"
                              name="CiudadProvincia"
                              id="CiudadProvincia"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>                   
                          <div class="mb-3">
                            <label for="Longitud" class="form-label">Longitud</label>
                            <input
                              value="<%= paisRg.Longitud%>"
                              type="text"
                              class="form-control"
                              name="Longitud"
                              id="Longitud"
                              aria-describedby="textHelp"
                              disabled
                            />
                          </div>                   
                          <div class="mb-3">
                            <label for="Latitud" class="form-label">Latitud</label>
                            <input
                              value="<%= paisRg.Latitud%>"
                              type="text"
                              class="form-control"
                              name="Latitud"
                              id="Latitud"
                              aria-describedby="textHelp"
                              disabled
                            />
                          </div>                   
                      </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

     <% }else { %>

           <!--  Header Start -->
  <%- include ('../partials/admi/headLE') %>
  <!--  Header End -->
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card" >
      <div class="card-body" style="height: 100rem;">
        <h5 class="card-title fw-semibold mb-4">
          Listado de paises y regiones
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Pais</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Departamento</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Ciudad Provincia</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((paisRg)=> { %>
                <tr>
                  <td>
                    <h6><%= paisRg.Id %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.Pais %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.Departament %></h6>
                  </td>
                  <td>
                    <h6><%= paisRg.CiudadProvincia %></h6>
                  </td>
                  <td >
                    <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= paisRg.Id %>">Leer</a>
                  </td>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= paisRg.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver pais region</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="Pais" class="form-label">Pais</label>
                            <input
                              value="<%= paisRg.Pais %>"
                              type="text"
                              class="form-control"
                              name="Pais"
                              id="Pais"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="PaisEng" class="form-label">Pais en ingles</label>
                            <input
                              value="<%= paisRg.PaisEng %>"
                              type="text"
                              class="form-control"
                              name="PaisEng"
                              id="PaisEng"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="Departament" class="form-label">Departamento</label>
                            <input
                              value="<%= paisRg.Departament %>"
                              type="text"
                              class="form-control"
                              name="Departament"
                              id="Departament"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>
                          <div class="mb-3">
                            <label for="CiudadProvincia" class="form-label">Ciudad / Provincia</label>
                            <input
                              value="<%= paisRg.CiudadProvincia%>"
                              type="text"
                              class="form-control"
                              name="CiudadProvincia"
                              id="CiudadProvincia"
                              aria-describedby="textHelp"
                              disabled
                              required
                            />
                          </div>                   
                          <div class="mb-3">
                            <label for="Longitud" class="form-label">Longitud</label>
                            <input
                              value="<%= paisRg.Longitud%>"
                              type="text"
                              class="form-control"
                              name="Longitud"
                              id="Longitud"
                              aria-describedby="textHelp"
                              disabled
                            />
                          </div>                   
                          <div class="mb-3">
                            <label for="Latitud" class="form-label">Latitud</label>
                            <input
                              value="<%= paisRg.Latitud%>"
                              type="text"
                              class="form-control"
                              name="Latitud"
                              id="Latitud"
                              aria-describedby="textHelp"
                              disabled
                            />
                          </div>                   
                      </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    <% }}}) %>



<%- include ('../partials/admi/footer') -%>
