<%- include ('../partials/admi/header') %>

<% usuario.forEach((user)=> { 
  if (user.Rol == "Administrar") {%>
  <!--  Header Start -->
  <%- include ('../partials/admi/head') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavIndustria') %>
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">
          Listado de industrias
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Industria</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Abreviacion</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Descripcion</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((indus)=> { %>
                <tr>
                  <td>
                    <h6><%= indus.Id %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Industria %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Abreviacion %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Descripcion %></h6>
                  </td>
                  <td >
                      <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= indus.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= indus.Id %>">Editar</a></li>
                            <li><a type="button" class="dropdown-item" href="/dIndust/<%= indus.Id %>">Eliminar</a></li>
                          </ul>
                        </div>
                  </td>
                  <!--Editar industria-->
                  <div class="modal fade" id="Modal<%= indus.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upInd" method="POST">
                            <input id="Id" name="Id" value="<%= indus.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Industria" class="form-label">Industria</label>
                              <input
                                value="<%= indus.Industria %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria"
                                id="Industria"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Industria_ing" class="form-label">Industria en ingles</label>
                              <input
                                value="<%= indus.Industria_ing %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria_ing"
                                id="Industria_ing"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion" class="form-label">Abreviacion</label>
                              <input
                                value="<%= indus.Abreviacion %>"
                                placeholder="IND"
                                type="text"
                                class="form-control"
                                name="Abreviacion"
                                id="Abreviacion"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion_ing" class="form-label">Abreviacion en ingles</label>
                              <input
                                value="<%= indus.Abreviacion_ing%>"
                                placeholder="standlib.com"
                                type="text"
                                class="form-control"
                                name="Abreviacion_ing"
                                id="Abreviacion_ing"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion"><%= indus.Descripcion %></textarea>
                            </div>                   
                            <div class="mb-3">
                              <label for="Descripcion_ing" class="form-label">Descripcion en ingles</label>
                              <textarea class="form-control" name="Descripcion_ing" id="Descripcion_ing"><%= indus.Descripcion_ing %></textarea>
                            </div>                   
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="submit">Guardar</button>
                        </form>
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= indus.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upInd" method="POST">
                            <input id="Id" name="Id" value="<%= indus.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Industria" class="form-label">Industria</label>
                              <input
                                value="<%= indus.Industria %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria"
                                id="Industria"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Industria_ing" class="form-label">Industria en ingles</label>
                              <input
                                value="<%= indus.Industria_ing %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria_ing"
                                id="Industria_ing"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion" class="form-label">Abreviacion</label>
                              <input
                                value="<%= indus.Abreviacion %>"
                                placeholder="IND"
                                type="text"
                                class="form-control"
                                name="Abreviacion"
                                id="Abreviacion"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion_ing" class="form-label">Abreviacion en ingles</label>
                              <input
                                value="<%= indus.Abreviacion_ing%>"
                                placeholder="standlib.com"
                                type="text"
                                class="form-control"
                                name="Abreviacion_ing"
                                id="Abreviacion_ing"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion" disabled><%= indus.Descripcion %></textarea>
                            </div>                   
                            <div class="mb-3">
                              <label for="Descripcion_ing" class="form-label">Descripcion en ingles</label>
                              <textarea class="form-control" name="Descripcion_ing" id="Descripcion_ing" disabled><%= indus.Descripcion_ing %></textarea>
                            </div>                   
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    <% }else{ 
      if(user.Rol == "Editar" ){ %>

         <!--  Header Start -->
  <%- include ('../partials/admi/headED') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavIndustria') %>
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">
          Listado de industrias
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Industria</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Abreviacion</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Descripcion</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((indus)=> { %>
                <tr>
                  <td>
                    <h6><%= indus.Id %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Industria %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Abreviacion %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Descripcion %></h6>
                  </td>
                  <td >
                      <div class="btn-group dropend">
                          <button class="btn btn-secondary ti ti-list-check" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                          </button>
                          <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= indus.Id %>">Leer</a></li>
                            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Modal<%= indus.Id %>">Editar</a></li>
                          </ul>
                        </div>
                  </td>
                  <!--Editar industria-->
                  <div class="modal fade" id="Modal<%= indus.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upInd" method="POST">
                            <input id="Id" name="Id" value="<%= indus.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Industria" class="form-label">Industria</label>
                              <input
                                value="<%= indus.Industria %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria"
                                id="Industria"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Industria_ing" class="form-label">Industria en ingles</label>
                              <input
                                value="<%= indus.Industria_ing %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria_ing"
                                id="Industria_ing"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion" class="form-label">Abreviacion</label>
                              <input
                                value="<%= indus.Abreviacion %>"
                                placeholder="IND"
                                type="text"
                                class="form-control"
                                name="Abreviacion"
                                id="Abreviacion"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion_ing" class="form-label">Abreviacion en ingles</label>
                              <input
                                value="<%= indus.Abreviacion_ing%>"
                                placeholder="standlib.com"
                                type="text"
                                class="form-control"
                                name="Abreviacion_ing"
                                id="Abreviacion_ing"
                                aria-describedby="textHelp"
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion"><%= indus.Descripcion %></textarea>
                            </div>                   
                            <div class="mb-3">
                              <label for="Descripcion_ing" class="form-label">Descripcion en ingles</label>
                              <textarea class="form-control" name="Descripcion_ing" id="Descripcion_ing"><%= indus.Descripcion_ing %></textarea>
                            </div>                   
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-secondary" type="submit">Guardar</button>
                        </form>
                          <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= indus.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upInd" method="POST">
                            <input id="Id" name="Id" value="<%= indus.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Industria" class="form-label">Industria</label>
                              <input
                                value="<%= indus.Industria %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria"
                                id="Industria"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Industria_ing" class="form-label">Industria en ingles</label>
                              <input
                                value="<%= indus.Industria_ing %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria_ing"
                                id="Industria_ing"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion" class="form-label">Abreviacion</label>
                              <input
                                value="<%= indus.Abreviacion %>"
                                placeholder="IND"
                                type="text"
                                class="form-control"
                                name="Abreviacion"
                                id="Abreviacion"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion_ing" class="form-label">Abreviacion en ingles</label>
                              <input
                                value="<%= indus.Abreviacion_ing%>"
                                placeholder="standlib.com"
                                type="text"
                                class="form-control"
                                name="Abreviacion_ing"
                                id="Abreviacion_ing"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion" disabled><%= indus.Descripcion %></textarea>
                            </div>                   
                            <div class="mb-3">
                              <label for="Descripcion_ing" class="form-label">Descripcion en ingles</label>
                              <textarea class="form-control" name="Descripcion_ing" id="Descripcion_ing" disabled><%= indus.Descripcion_ing %></textarea>
                            </div>                   
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

     <% }else { %>

           <!--  Header Start -->
  <%- include ('../partials/admi/headLE') %>
  <!--  Header End -->
  
  <div
  class="container-fluid"
  style="overflow: scroll; height: calc(115vh - 80px)"
>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title fw-semibold mb-4">
          Listado de industrias
        </h5>
        
            <table class="table table-bordered">
              <thead class="table-light">
                <tr>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Id</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Industria</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Abreviacion</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Descripcion</h6>
                  </th>
                  <th>
                    <h6 class="fw-semibold mb-0 fs-4">Acciones</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((indus)=> { %>
                <tr>
                  <td>
                    <h6><%= indus.Id %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Industria %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Abreviacion %></h6>
                  </td>
                  <td>
                    <h6><%= indus.Descripcion %></h6>
                  </td>
                  <td >
                      <a type="button btn btn-secondary" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalLect<%= indus.Id %>">Leer</a>
                  </td>
                  <!--Leer datos de indus-->
                  <div class="modal fade" id="ModalLect<%= indus.Id %>" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Ver industria</h5>
                          <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                          <form action="/upInd" method="POST">
                            <input id="Id" name="Id" value="<%= indus.Id %>" type="hidden" />
                            <div class="mb-3">
                              <label for="Industria" class="form-label">Industria</label>
                              <input
                                value="<%= indus.Industria %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria"
                                id="Industria"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Industria_ing" class="form-label">Industria en ingles</label>
                              <input
                                value="<%= indus.Industria_ing %>"
                                placeholder="ICONTEC"
                                type="text"
                                class="form-control"
                                name="Industria_ing"
                                id="Industria_ing"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion" class="form-label">Abreviacion</label>
                              <input
                                value="<%= indus.Abreviacion %>"
                                placeholder="IND"
                                type="text"
                                class="form-control"
                                name="Abreviacion"
                                id="Abreviacion"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Abreviacion_ing" class="form-label">Abreviacion en ingles</label>
                              <input
                                value="<%= indus.Abreviacion_ing%>"
                                placeholder="standlib.com"
                                type="text"
                                class="form-control"
                                name="Abreviacion_ing"
                                id="Abreviacion_ing"
                                aria-describedby="textHelp"
                                disabled
                                required
                              />
                            </div>
                            <div class="mb-3">
                              <label for="Descripcion" class="form-label">Descripcion</label>
                              <textarea class="form-control" name="Descripcion" id="Descripcion" disabled><%= indus.Descripcion %></textarea>
                            </div>                   
                            <div class="mb-3">
                              <label for="Descripcion_ing" class="form-label">Descripcion en ingles</label>
                              <textarea class="form-control" name="Descripcion_ing" id="Descripcion_ing" disabled><%= indus.Descripcion_ing %></textarea>
                            </div>                   
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>

                <% }) %>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

    <% }}}) %>



<%- include ('../partials/admi/footer') -%>
