<%- include ('../partials/admi/header') %>

<% usuario.forEach((user)=> { 
  if (user.Rol == "Administrar") {%>
  <!--  Header Start -->
  <%- include ('../partials/admi/head') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavUsuario') %>
  
  <div
    class="container-fluid"
    style="overflow: scroll; height: calc(115vh - 80px)"
  >
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Registro usuarios</h5>
          <div class="card">
            <div class="card-body">
              <form action="/api/Us" method="POST">
                <div class="mb-3"></div>
                <input id="Id" name="Id" value="0" hidden />
              </div>
                <div class="mb-3">
                  <label for="Nombre" class="form-label">Nombres</label>
                  <input
                    placeholder="Daniel Jose"
                    type="text"
                    class="form-control"
                    name="Nombre"
                    id="Nombre"
                    aria-describedby="textHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Apellido" class="form-label">Apellidos</label>
                  <input
                    placeholder="Jimenez Cuadro"
                    type="text"
                    class="form-control"
                    name="Apellido"
                    id="Apellido"
                    aria-describedby="textHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Email" class="form-label">Correo</label>
                  <input
                    placeholder="prueba@ejemplo.com"
                    type="email"
                    class="form-control"
                    name="Email"
                    id="Email"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Rol" class="form-label">Rol</label>
                  <select
                    class="form-control"
                    name="Rol"
                    id="Rol"
                    aria-describedby="text"
                    required
                  >
                    <option selected>-- Seleccione un rol --</option>
                    <option value="Administrar">Administrar</option>
                    <option value="Editar">Editar</option>
                    <option value="Leer">Leer</option>
                  </select>
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Contraseña</label>
                  <input
                    placeholder="Debe contener letras en mayuscula, numeros y caracteres especiales"
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                >
                  Agregar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% }else{ 
      if(user.Rol == "Editar" ){ %>

         <!--  Header Start -->
  <%- include ('../partials/admi/headED') %>
  <!--  Header End -->
  <%- include ('../partials/admi/NavUsuario') %>
  
  <div
    class="container-fluid"
    style="overflow: scroll; height: calc(115vh - 80px)"
  >
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">Registro usuarios</h5>
          <div class="card">
            <div class="card-body">
              <form action="/api/Us" method="POST">
                <div class="mb-3"></div>
                <input id="Id" name="Id" value="0" hidden />
              </div>
                <div class="mb-3">
                  <label for="Nombre" class="form-label">Nombres</label>
                  <input
                    placeholder="Daniel Jose"
                    type="text"
                    class="form-control"
                    name="Nombre"
                    id="Nombre"
                    aria-describedby="textHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Apellido" class="form-label">Apellidos</label>
                  <input
                    placeholder="Jimenez Cuadro"
                    type="text"
                    class="form-control"
                    name="Apellido"
                    id="Apellido"
                    aria-describedby="textHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Email" class="form-label">Correo</label>
                  <input
                    placeholder="prueba@ejemplo.com"
                    type="email"
                    class="form-control"
                    name="Email"
                    id="Email"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="Rol" class="form-label">Rol</label>
                  <select
                    class="form-control"
                    name="Rol"
                    id="Rol"
                    aria-describedby="text"
                    required
                  >
                    <option selected>-- Seleccione un rol --</option>
                    <option value="Administrar">Administrar</option>
                    <option value="Editar">Editar</option>
                    <option value="Leer">Leer</option>
                  </select>
                </div>
                <div class="mb-4">
                  <label for="password" class="form-label">Contraseña</label>
                  <input
                    placeholder="Debe contener letras en mayuscula, numeros y caracteres especiales"
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    required
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                >
                  Agregar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

     <% }else { %>

           <!--  Header Start -->
  <%- include ('../partials/admi/headLE') %>
  <!--  Header End -->
  
  <div class="container-fluid" style="overflow:scroll;height: calc(115vh - 80px);">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4"></h5>
          <div class="card">
            <div class="card-body">
              <h1> No tiene los permisos requeridos</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <% }}}) %>

    <%-include('../partials/admi/footer') %> 

  
