<%- include ('../partials/User/header') %>

<% usuario.forEach((user)=> { 
  if (user.Perfil == "Administrador") {%>
  <!--  Header Start -->
  <%- include ('../partials/User/head') %>
  <!--  Header End -->
  
      <h1><%= user.Nombre %></h1>
    <h1><%= user.Perfil %></h1>

    <% }else{ 
      if(user.Perfil == "Editor" ){ %>

         <!--  Header Start -->
  <%- include ('../partials/User/headED') %>
  <!--  Header End -->
  
      <h1><%= user.Nombre %></h1>
    <h1><%= user.Perfil %></h1>

     <% }else { %>

           <!--  Header Start -->
  <%- include ('../partials/User/headLE') %>
  <!--  Header End -->
  
      <h1><%= user.Nombre %></h1>
    <h1><%= user.Perfil %></h1>

    <% }}}) %>





